<!--Main Body-->
<main class="container">
  <div class="row mx-1">
    <div class="col-12">
      <h1>Authentication is required</h1>
      <br />
    </div>

    <div class="form">
      <form method="GET" action="/users/register" class="row mx-1">
        <div class="form-group col-12">
          <label for="username">Username *</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
            placeholder="Type in your username"
          />
        </div>

        <div class="form-group col-12">
          <label for="password">Password *</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
            placeholder="Type in your password"
          />
        </div>

        <hr />

        <div class="form-group col-12 pt-3">
          <a href="/home" class="btn btn-secondary"
            ><i class="fas fa-backward"></i> Back
          </a>

          <button type="submit" class="btn btn-primary">Enter</button>
        </div>

        <div class="form-group col-12 pt-3">
          If you don't have a user, you can register
          <a href="/users/register">here</a>
        </div>
      </form>
    </div>
  </div>
</main>
